<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e82ae">  <td>19/10/28 01:32:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases_StatisticsOfServicePoints.selectDvsn()[pri:0, instance:Kolorob_analyticl.Kolorob_analyticl.TestCases_StatisticsOfServicePoints@2e029d61]">selectDvsn</td> 
  <td>main@1774690057</td>   <td></td> </tr>
</table>
